body{
    overflow: hidden;
    background: linear-gradient(to right, #485461, #28313b);
}

.main{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    overflow: hidden;
}
.main#home{
    background-image: url("images/bg.jpg");
    background-size: cover;
}
.main#services{
    background: gray;
}
.main#about{
    background: lightblue;
}
.main#follow{
    background: lightslategrey;
}
.main#contact{
    background: steelblue;
}

#centerText{
    text-align: center;
    position: absolute;
    color: white;
    font-family: 'Poppins';
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#centerText button{
    cursor: pointer;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 8px;
    background-color: rgb(0, 153, 255);
    transition: all 0.5s;
}
#centerText button:hover{
    transform: scale(1.1);
}
#centerText button a{
    text-decoration: none;
    font-size: 17px;
    font-family: 'Poppins';
    color: white;
}

#menuButton{
    position: absolute;
    right: 20px;
    z-index: 2;
    font-size: 20px;
    margin-right: 20px;
    margin-top: 40px;
    height: 40px;
    background: transparent;
    outline: none;
    border: none;
    transition: transform 0.5s, margin-left 0.5s;
    cursor: pointer;
}

#first, #second, #third{
    width: 35px;
    height: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
    transition: all 0.5s;
}
.firstUnactive, .secondUnactive, .thirdUnactive{
    background-color: #ffffff;
}
.firstActive{
    transform: rotate(45deg) translateY(14px);
}
.secondActive{
    opacity: 0;
    max-width: 100%;
    transform: translateX(100px);
}
.thirdActive{
    transform: rotate(-45deg) translateY(-14px);
}

.main-active#home{
    transform: scale(0.5) translateY(200px) perspective(1300px) rotateY(20deg) translateZ(100px) translateX(100px);
}
.main-active-hover#home{
    transform: scale(0.5) translateY(100px) perspective(1300px) rotateY(20deg) translateZ(100px) translateX(100px);
}
.main-active#services{
    transform: scale(0.5) translateY(200px) perspective(1300px) rotateY(20deg) translateZ(50px) translateX(50px);
}
.main-active-hover#services{
    transform: scale(0.5) translateY(100px) perspective(1300px) rotateY(20deg) translateZ(50px) translateX(50px);
}
.main-active#about{
    transform: scale(0.5) translateY(200px) perspective(1300px) rotateY(20deg) translateZ(0px) translateX(0px);
}
.main-active-hover#about{
    transform: scale(0.5) translateY(100px) perspective(1300px) rotateY(20deg) translateZ(0px) translateX(0px);
}
.main-active#follow{
    transform: scale(0.5) translateY(200px) perspective(1300px) rotateY(20deg) translateZ(-50px) translateX(-50px);
}
.main-active-hover#follow{
    transform: scale(0.5) translateY(100px) perspective(1300px) rotateY(20deg) translateZ(-50px) translateX(-50px);
}
.main-active#contact{
    transform: scale(0.5) translateY(200px) perspective(1300px) rotateY(20deg) translateZ(-100px) translateX(-100px);
}
.main-active-hover#contact{
    transform: scale(0.5) translateY(100px) perspective(1300px) rotateY(20deg) translateZ(-100px) translateX(-100px);
}

.sideMenu{
    position: absolute;
    right: 20px;
    top: 130px;
    width: 130px;
}
.sideMenu a{
    display: inline-block;
    color: #818181;
    cursor: pointer;
    font-family: 'Poppins';
    font-size: 20px;
    margin-bottom: 20px;
    transition: all 0.5s;
}
.sideMenu a:hover{
    color: #ffffff;
}

@keyframes goBack{
    0%{
        transform: scale(0.5) translateY(100px) perspective(1300px) rotateY(20deg) translateZ(100px) translateX(100px);
    }
    10%{
        transform: scale(0.5) translateY(0px) perspective(1300px) rotateY(20deg) translateZ(100px) translateX(100px);
    }
    20%{
        transform: scale(0.5) translateY(0px) perspective(1300px) rotateY(20deg) translateZ(-150px) translateX(-150px);
        z-index: -2;
    }
    30%{
        transform: scale(0.5) translateY(0px) perspective(1300px) rotateY(20deg) translateZ(-200px) translateX(-200px);
        z-index: -3;
    }
    40%{
        transform: scale(0.5) translateY(0px) perspective(1300px) rotateY(20deg) translateZ(-250px) translateX(-250px);
        z-index: -4;
    }
    50%{
        transform: scale(0.5) translateY(0px) perspective(1300px) rotateY(20deg) translateZ(-300px) translateX(-300px);
        z-index: -5;
    }
    60%{
        transform: scale(0.5) translateY(200px) perspective(1300px) rotateY(20deg) translateZ(-150px) translateX(-150px);
        z-index: -5;
    }
    70%{
        transform: scale(0.5) translateY(200px) perspective(1300px) rotateY(20deg) translateZ(-150px) translateX(-150px);
        z-index: -5;
    }
    80%{
        transform: scale(0.5) translateY(200px) perspective(1300px) rotateY(20deg) translateZ(-150px) translateX(-150px);
        z-index: -5;
    }
    90%{
        transform: scale(0.5) translateY(200px) perspective(1300px) rotateY(20deg) translateZ(-150px) translateX(-150px);
        z-index: -5;
    }
    100%{
        transform: scale(0.5) translateY(200px) perspective(1300px) rotateY(20deg) translateZ(-150px) translateX(-150px);
        z-index: -5;
    }
}

@keyframes comeAhead{
    0%{
        transform: scale(0.5) translateY(100px) perspective(1300px) rotateY(20deg) translateZ(100px) translateX(100px);
    }
    33%{
        transform: scale(0.5) translateY(0px) perspective(1300px) rotateY(20deg) translateZ(100px) translateX(100px);
    }
    66%{
        transform: scale(0.5) translateY(0px) perspective(1300px) rotateY(20deg) translateZ(150px) translateX(150px);
        z-index: 1;
    }
    100%{
        transform: scale(0.5) translateY(200px) perspective(1300px) rotateY(20deg) translateZ(150px) translateX(150px);
        z-index: 1;
    }
}